<div class="w-[90%] mx-auto mt-28">
  <p>home </p>
  <!-- <ngx-doc-viewer
    url="http://www.africau.edu/images/default/sample.pdf"
    viewer="url"
    class="w-full h-[512px]"
  ></ngx-doc-viewer>
  <button 
    class="bg-blue-500 text-white p-4 rounded-xl hover:bg-blue-600 transition-all duration-200"
    (click)="onButtonClick()"
  >
    See Document
  </button> -->
</div>

<!-- url="http://www.africau.edu/images/default/sample.pdf" -->
<!-- url="http://localhost:4200/assets/sample.xlsx" -->
