
.ham-menu {
  display: none;

  div {
    width: 24px;
    height: 4px;
    background-color: grey;
    border-radius: 20px;
  }
}

.responsive-menu {
  display: none;
}

.menu-open {
  display: flex;
}

@media only screen and (max-width: 800px)  {
  .menu {
    p {
      display: none;
    }
  }

  .ham-menu {
    display: flex;
  }

  .responsive-menu {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
}